:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  /* Global Variables */
  --bg-dark: #242424;
  --bg-light: #f4f4f4;
  --text-light: #f4f4f4;
  --text-dark: #1e1e1e;
  --primary: #f4f4f4;
  --secondary: #1e1e1e;
  --danger: #ff4d4d;
  --success: #00cc00;
  --warning: #ffcc00;
  --info: #00ccff;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}